<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>偉大なるツイッターアプリ</title>
  </head>
  <body>
  	<%- flash.each do |name, msg| -%>
  	  <div class='flash_<%= name %>'>
  	    <%= msg %>
  	  </div>
  	<%- end -%>
  	<div>
	  <%= yield %>
    </div>
    <div>
      Create by func09@kray, and See <%= link_to 'http://kray.jp/blog/twitter_service_in_1hours/', 'http://kray.jp/blog/twitter_service_in_1hours/' %>
    </div>
  </body>
</html>
